<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-success" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Categorias
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let categoria of categorias">
      <a class="dropdown-item" (click)="onCategoriaSelected(categoria)">{{ categoria }}</a>
    </li>
  </ul>
  <div style="margin-top: 20px;">
    <h3>Estudiantes</h3>
    <p>Total de Estudiantes: {{ totalEstudiantes }}</p>
  </div>
  <div style="margin-top: 20px;">
    <h3>Profesores</h3>
    <p>Total de Profesores: {{ totalProfesores }}</p>
  </div>
  <div style="margin-top: 20px;">
    <h3>Promedio de Notas</h3>
    <p>Promedio de Notas: {{ averageNota }}</p>
  </div>
</div>

<div class="form-group">
  <label for="cursoId">Curso</label>
  <select id="cursoId" [(ngModel)]="selectedCursoId" class="form-control">
    <option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</option>
  </select>
</div>
<div class="form-group">
  <label for="startDate">Fecha de Inicio</label>
  <input type="date" id="startDate" [(ngModel)]="startDate" class="form-control">
</div>
<div class="form-group">
  <label for="endDate">Fecha de Fin</label>
  <input type="date" id="endDate" [(ngModel)]="endDate" class="form-control">
</div>
<button class="btn btn-primary" (click)="onFetchPromedioNotas()" [disabled]="!selectedCursoId || !startDate || !endDate">Obtener Promedio de Notas</button>

<div *ngIf="promedioNotas.length > 0" style="margin-top: 20px;">
  <h3>Promedio de Notas por Subtema</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Subtema</th>
        <th>Promedio de Nota</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let promedio of promedioNotas">
        <td>{{ promedio.subtema }}</td>
        <td>{{ promedio.promedio.toFixed(2) }}</td>
      </tr>
    </tbody>
  </table>
</div>
