mat-dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}
 